<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2020-04-20T13:59:58Z</date>
	<key>WorkspacePath</key>
	<string>/Users/Arifeen/Desktop/Old Done Task/webView/webView.xcodeproj</string>
</dict>
</plist>
